@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    Produto p = ViewBag.Produto;
}
    <form asp-action="Editar" method="post">
        <fieldset>
            <div class="form-group">
                <input type="hidden" name="txtId" value="@p.ProdutoId" />
                <label>Nome:</label><br />
                <input class="form-control" type="text" name="txtNome" value="@p.Nome" /><br />
            </div>

            <div class="form-group">
                <label>Descrição:</label><br />
                <input class="form-control" type="text" name="txtDescricao" value="@p.Descricao" />
            </div>
            <div class="form-group">
                <label>Preço:</label><br />
                <input class="form-control" type="text" name="txtPreco" value="@p.Preco.ToString("C2")" />
            </div>
            <div class="form-group">
                <label>Quantidade:</label><br />
                <input class="form-control" type="text" name="txtPreco" value="@p.Quantidade" />
            </div>
            <input type="submit" class="btn btn-info btn-block btn-lg" name="submit" value="Editar" />
        </fieldset>
</form>
